<style>
  .avatar-wrapper {
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    height: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
    width: 50px;
  }
</style>

<div class="container" ng-controller="PersonsController">
  <div class="page-header">
    <h1>Personen <small>Neue Person hinzufügen</small></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="text-danger" ng-show="inputHasError">Fehler in der Eingabe. Bitte versuche es erneut.</p>
      <p class="text-danger" ng-show="receivedApiError">Ein Fehler ist aufgetreten: {{apiError}}</p>
      <div class="form-group">
        <form role="form">
          <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="inputName">
          </div>
          <!--div class="form-group">
            <label class="control-label" for="picurl">Logo-URL</label>
            <input type="text" class="form-control" id="picurl" ng-model="inputImgurl">
          </div-->
          <div class="form-group">
            <label class="control-label" for="picupload">Logo</label>
            <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Hochladen...</button>
                  </span>
              <input type="text" class="form-control" id="picupload" disabled>
            </div>
            <div class="avatar-wrapper" style="{{'background-image:url(\''+inputImgurl+'\')'}}"></div>
          </div>

          <!-- Actions -->
          <button type="button" class="btn btn-success" id="save" ng-click="triggerCreatePerson()">
            <span class="glyphicon glyphicon-user"></span> &nbsp;Person anlegen
          </button>
          <button type="button" class="btn btn-warning" id="cancel" ng-click="redirect('/editor/persons/list')">
            <span class="glyphicon glyphicon-remove"></span> &nbsp;Abbrechen
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
