<style>
  .color-preview {
    border: 1px solid black;
    display:inline-block;
    height: 10px;
    width: 10px;
  }
</style>

<div class="container" ng-controller="RelationsController">
  <div class="page-header">
    <h1>Beziehungstypen <small>Neuen Beziehungstyp hinzufügen</small></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="text-danger" ng-show="inputHasError">Fehler in der Eingabe. Bitte versuche es erneut.</p>
      <p class="text-danger" ng-show="receivedApiError">Ein Fehler ist aufgetreten: {{apiError}}</p>
      <div class="form-group">
        <form role="form">
          <div class="form-group">
            <label class="control-label" for="title">Beschreibender Satz <small class="text-muted">(In der Grafik sichtbar)</small></label>
            <input type="text" class="form-control" id="title" ng-model="inputSentence">
          </div>
          <div class="form-group">
            <label class="control-label" for="color">
              <span class="color-preview" style="{{'background-color:'+inputColor+';'}}"></span>
              Linienfarbe
            </label>
            <input type="text" class="form-control" id="color" ng-model="inputColor">
          </div>
          <div class="form-group">
            <label class="control-label" for="icon">
              <span class="{{'glyphicon glyphicon-'+inputIcon}}"></span>
              Icon &ndash;
              <a href="http://getbootstrap.com/components/#glyphicons-glyphs" target="_blank">Vorschau-Liste</a>
            </label>
            <input type="text" class="form-control" id="icon" ng-model="inputIcon">
          </div>

          <!-- Actions -->
          <button type="button"
                  class="btn btn-success"
                  ng-click="triggerCreateRelationType()"
                  id="save"><span class="glyphicon glyphicon-user"></span> &nbsp;Beziehungstyp anlegen</button>
          <button type="button"
                  class="btn btn-warning"
                  id="cancel"
                  ng-click="redirect('/editor/relations/list')">
            <span class="glyphicon glyphicon-remove"></span> &nbsp;Abbrechen</button>
        </form>
      </div>
    </div>
  </div>
</div>
