<div class="container" ng-controller="RelationsController">
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="pleaseWait">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><h4>Lade...</h4></div>
        <div class="modal-body"><div class="progress"><div class="progress-bar progress-bar-striped active" style="width:100%"></div></div></div>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h1>Beziehungstypen</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover" id="relationslist">
        <tr>
          <th>Beschreibender Satz <small class="text-muted">(In der Grafik sichtbar)</small></th>
          <th>Farbe</th>
          <th>Funktionen</th>
        </tr>
        <tr ng-repeat="rt in relationTypes">
          <td>{{rt.sentence}}</td>
          <td><span style="{{'color:'+rt.color+';'}}">{{rt.color}}</span></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            &nbsp;
            <button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
          </td>
        </tr>
      </table>
      <p class="text-left">
        <button type="button"
                class="btn btn-success btn-sm"
                id="newRelation"
                ng-click="redirect('/editor/relations/new')"><span class="glyphicon glyphicon-link"></span> &nbsp;Neuer Beziehungstyp</button>
      </p>
    </div>
  </div>
</div>
