<style>
  .avatar-wrapper {
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    width: 50px;
  }
</style>

<div class="container" ng-controller="PersonsController">

  <!-- Delete Person modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabel">Person löschen</h4>
        </div>
        <div class="modal-body">
          <p><strong>{{personInFocus.name}}</strong> wirklich löschen?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          <button type="button" class="btn btn-danger" ng-click="deletePersonInFocus()">Person löschen</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Person modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editModalLabel">Person bearbeiten</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" ng-model="inputName">
              </div>
              <div class="form-group">
                <label class="control-label" for="picurl">Logo-URL</label>
                <input type="text" class="form-control" id="picurl" ng-model="inputImgurl">
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          <button type="button" class="btn btn-success" ng-click="updatePersonInFocus()">Person speichern</button>
        </div>
      </div>
    </div>
  </div>

  <div class="page-header">
    <h1>Personen</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-left">
        <button type="button"
                class="btn btn-success btn-sm"
                ng-click="redirect('/editor/persons/new')">
          <span class="glyphicon glyphicon-user"></span> &nbsp;Neue Person</button>
      </p>
      <table class="table table-hover" id="personlist">
        <tr>
          <th>Name</th>
          <th>Logo</th>
          <th>Funktionen</th>
        </tr>
        <tr ng-repeat="person in persons">
          <td>{{person.name}}</td>
          <td>
            <div class="avatar-wrapper" style="{{'background-image:url(\''+person.imgurl+'\')'}}"></div>
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Bearbeiten"
                    data-person-id="{{person.id}}" ng-click="triggerEditModal($event)">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            &nbsp;
            <button type="button" class="btn btn-danger btn-sm"  data-toggle="tooltip" title="Löschen"
                    data-person-id="{{person.id}}" ng-click="triggerDeleteModal($event)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </table>
      <p class="text-left">
        <button type="button"
                class="btn btn-success btn-sm"
                ng-click="redirect('/editor/persons/new')">
          <span class="glyphicon glyphicon-user"></span> &nbsp;Neue Person</button>
      </p>
    </div>
  </div>
</div>
