<div class="container" ng-controller="LoginController">
  <div class="page-header">
    <h1>Login</h1>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p class="text-danger" ng-if="hasError">Fehler in der Eingabe. Bitte versuche es erneut.</p>
      <p>Dieser Bereich ist geschützt. Bitte melde dich an.</p>
      <div class="form-group">
        <label for="username">Name:</label>
        <input type="text" class="form-control" id="username" ng-model="username" name="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Passwort:</label>
        <input type="password" class="form-control" id="pwd" ng-model="password" name="pwd">
      </div>
      <button class="btn btn-default" ng-click="fireLoginRequest()">Einloggen</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
