<!-- Library components -->
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<!-- Custom components -->
<link rel="import" href="../services/api-request.html">

<dom-module id="peer-network">
  <template>

    <style>

      paper-slider {
        width: 100%;
      }

      paper-button {
        background: #fafafa;
        border: 1px solid #cccccc;
        margin-bottom: 10px;
      }

      .graph {
        position: relative;
        height: 650px;
        background: #fafafa;
        overflow: hidden;
        border: 1px solid #cccccc;
      }

      .graph .tools {
        position: absolute;
        margin-left: -200px;
        padding: 20px;
        color: #555555;
        font-size: 26px;
        transition: margin 0.2s ease-out;
      }

      .graph .panel {
        position: absolute;
        width: 250px;
        margin-left: -260px;
        height: 100%;
        background: #ffffff;
        color: #aaaaaa;
        border-right: 1px solid #cccccc;
        transition: margin 0.2s ease-out;
        opacity: 0.9;
        overflow: auto;
      }

      .graph .panel .nav {
        position: relative;
        text-align: right;
        margin: 3px 10px;
        font-size: 20px;
        font-family: "PT Sans", sans-serif;
      }

      .graph .panel .infos {
        margin: 20px;
      }

      .graph .panel p {
        font-size: 14px;
        margin: 8px 0;
      }

      .graph .tools:hover, #x:hover {
        cursor: pointer;
      }

      .graph .active {
        margin-left: 0;
      }

      .graph .emptyMessage {
        margin: 20px 10px;
        text-align: center;
      }

      .graph .emptyMessage .pictogram {
        font-size: 3em;
      }

      #canvas {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      #canvas.shrink {
        width: 75%;
      }

      .profilePic {
        margin: auto;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-color: #555555;
        background-position: center center;
      }

      .spinnerBackdrop {
        text-align: center;
        height: 100%;
        top: 0;
        width: 100%;
      }

      .spinnerBackdrop > paper-spinner {
        margin: auto;
        top: 47vh;
      }

    </style>

    <!-- Get keyframes list -->
    <api-request endpoint="[[keyframesAjax.endpoint]]"
                 on-success="_apiKeyframesSuccess"
                 on-error="_apiKeyframesError"></api-request>

    <!-- Get relation types -->
    <api-request endpoint="[[relationTypesAjax.endpoint]]"
                 on-success="_apiRelationTypesSuccess"
                 on-error="_apiRelationTypesError"></api-request>

    <!-- Get persons -->
    <api-request endpoint="[[personsAjax.endpoint]]"
                 on-success="_apiPersonsSuccess"
                 on-error="_apiPersonsError"></api-request>

    <!-- Get relations -->
    <api-request endpoint="[[relationsAjax.endpoint]]"
                 eq-filter-key="keyframeId"
                 eq-filter-value="[[relationsAjax.yearId]]"
                 on-success="_apiRelationsSuccess"
                 on-error="_apiRelationsError"></api-request>

    <!-- Begin UI -->
    <paper-slider id="yearSlider"
                  disabled="[[sliderDisabled]]"
                  max="[[lastYear]]"
                  min="[[firstYear]]"
                  on-value-change="_yearChanged"
                  pin="true"
                  value="{{selectedYear}}"></paper-slider>

    <paper-button id="yearButton">Jahr: [[ selectedYear ]]</paper-button>

    <div class="graph">
      <div id="canvas"></div>
      <template is="dom-if" if="[[loadingGraph]]">
        <div class="spinnerBackdrop">
          <paper-spinner active="[[loadingGraph]]"></paper-spinner>
        </div>
      </template>
      <template is="dom-if" if="[[!loadingGraph]]">
        <template is="dom-if" if="[[emptyGraph]]">
          <div class="emptyMessage">
            <p class="pictogram">&#9889;</p>
            <p>Keine Daten für das Jahr [[selectedYear]] vorhanden.</p>
          </div>
        </template>
        <template is="dom-if" if="[[!emptyGraph]]">
          <div class="tools active" on-tap="_openPanel">&#9776;</div>
          <div class="panel">
            <div class="nav"><span id="x" on-tap="_closePanel">x</span></div>
            <div class="infos">
              <div class="heading">
                <div class="profile">
                  <div class="profilePic"></div>
                  <h3 class="name"></h3>
                </div>
              </div>
              <div class="body">
                <p>Wähle eine Person aus, um Details anzuzeigen.</p>
              </div>
            </div>
          </div>
        </template>
      </template>
    </div>

    <h3>Legende</h3>
    <template is="dom-if" if="[[loadingRelationTypes]]">
      <paper-spinner active="[[loadingRelationTypes]]"></paper-spinner>
    </template>
    <template is="dom-if" if="[[!loadingRelationTypes]]">
      <p>
        <template is="dom-repeat" items="[[relationTypesArray]]">
          <span style="color: [[item.color]];">[[item.sentence]]</span><br/>
        </template>
      </p>
    </template>

    <paper-toast id="toastApiError"
                 duration="5000"
                 text="[[toastApiErrorText]]"></paper-toast>

  </template>

  <script>

    Polymer({

      is: 'peer-network',

      properties: {

        // Constants
        GRAPH_OPTIONS: {
          type: Object,
          value: {
            nodes: {
              borderWidth: 1,
              borderWidthSelected: 2,
              color: {
                border: "rgba(140,140,140,1)",
                background: "rgba(255,255,255,1)",
                highlight: {
                  border: "rgba(0,204,0,1)",
                  background: "rgba(220,255,220,1)"
                },
                hover: {
                  border: "rgba(0,204,0,1)",
                  background: "rgba(230,255,230,1)"
                }
              },
              shape: "circle"
            },
            edges: {
              hoverWidth: 0,
              width: 0
            },
            interaction: {
              hover: true
            },
            physics: {
              maxVelocity: 10,
              solver: "repulsion"
            }
          }
        },

        // Data
        yearIds: Object,
        relationTypes: Object,
        persons: Object,
        currentNodes: Object,
        currentEdges: Object,

        // Graph instance
        graph: Object,

        // Slider settings
        firstYear: Number,
        lastYear: {
          type: Number,
          value: 3000
        },
        selectedYear: {
          type: Number,
          value: 2008
        },
        sliderDisabled: {
          type: Boolean,
          value: true
        },

        // UI General
        emptyGraph: {
          type: Boolean,
          value: false
        },
        loadingGraph: {
          type: Boolean,
          value: false
        },
        loadingRelationTypes: {
          type: Boolean,
          value: false
        },
        loadingUi: {
          type: Boolean,
          notify: true,
          value: true
        },
        toastApiErrorText: {
          type: String,
          value: 'An error occurred while requesting data'
        }
      },

      /* --------------------------------- */
      /*  Setup methods                    */
      /* --------------------------------- */
      ready: function () {

        var nodes, edges, persons, relationTypes;
        var component = this;

        // Start loading all keyframes
        this.keyframesAjax = {
          endpoint: '/keyframes'
        };
      },

      _apiKeyframesSuccess: function (event) {

        // Transform data
        var idsForYears = new Map(), years = [];
        event.detail.forEach(function(yearEntry){
          var yearString = (new Date(yearEntry.time)).getFullYear();
          idsForYears.set(yearString, yearEntry.id);
          years.push(yearString);
        });
        this.yearIds = idsForYears;

        // Setup slider
        this.firstYear = Math.min.apply(null, years);
        this.selectedYear = Math.max.apply(null, years);
        this.lastYear = Math.max.apply(null, years);
        this.sliderDisabled = false;

        // Release UI
        this.loadingUi = false;

        // Init graph
        this.reloadGraph();
      },

      _apiKeyframesError: function (event) {
        this.toastApiErrorText = 'Error requesting keyframes (' + event.detail + ')';
        this.$.toastApiError.open();
        this.loadingUi = false;
      },

      /* --------------------------------- */
      /*  Graph loading methods            */
      /* --------------------------------- */
      reloadGraph: function () {

        this.loadingGraph = true;

        if (this.graph) {
          this.graph.destroy();
          this.currentEdges = null;
          this.currentNodes = null;
        }

        if (!this.relationTypes) {
          this.loadingRelationTypes = true;
          this.relationTypesAjax = {
            endpoint: '/relationtypes'
          }
        } else if (!this.persons) {
          this.personsAjax = {
            endpoint: '/people'
          }
        } else {
          this._reloadRelationsForSelectedYear();
        }
      },

      _apiRelationTypesSuccess: function (event) {
        this.relationTypes = new vis.DataSet(event.detail);
        this.relationTypesArray = event.detail;
        this.loadingRelationTypes = false;
        if (!this.persons) {
          this.personsAjax = {
            endpoint: '/people'
          }
        } else {
          this._reloadRelationsForSelectedYear();
        }
      },

      _apiRelationTypesError: function (event) {
        this.toastApiErrorText = 'Error requesting relationTypes (' + event.detail + ')';
        this.$.toastApiError.open();
        this.loadingRelationTypes = false;
        this.loadingGraph = false;
      },

      _apiPersonsSuccess: function (event) {
        this.persons = new vis.DataSet(event.detail);
        this._reloadRelationsForSelectedYear();
      },

      _apiPersonsError: function (event) {
        this.toastApiErrorText = 'Error requesting persons (' + event.detail + ')';
        this.$.toastApiError.open();
        this.loadingGraph = false;
      },

      _reloadRelationsForSelectedYear: function () {
        this.relationsAjax = {
          endpoint: '/relations',
          yearId: this.yearIds.get(this.selectedYear)
        };
      },

      _apiRelationsSuccess: function (event) {
        this._repaintNetworkWithRelations(event.detail);
      },

      _apiRelationsError: function (event) {
        this.toastApiErrorText = 'Error requesting relations (' + event.detail + ')';
        this.$.toastApiError.open();
        this.loadingGraph = false;
      },

      _repaintNetworkWithRelations: function (relations) {

        const COMPONENT = this;

        if (relations.length === 0) {
          this._paintEmptyGraph();
          return;
        }

        // Gather appearing persons and relations
        var appearingPersons = new vis.DataSet(),
            edges = new vis.DataSet();
        relations.forEach(function(relation){
          var firstPerson = COMPONENT.persons.get(relation.personAId);
          var secondPerson = COMPONENT.persons.get(relation.personBId);
          if (firstPerson && secondPerson) {
            appearingPersons.update(firstPerson);
            appearingPersons.update(secondPerson);
            var relationType = COMPONENT.relationTypes.get(relation.relationTypeId);
            if (relationType) {
              edges.add({
                id: relation.id,
                from: relation.personAId,
                to: relation.personBId,
                relationType: relationType.id,
                color: relationType.color,
                sentence: relationType.sentence
              });
            }
          }
        });
        if (appearingPersons.length === 0) {
          this._paintEmptyGraph();
          return;
        }

        // Convert appearing persons into nodes
        var nodes = new vis.DataSet(appearingPersons.map(function(person){
          return {
            id: person.id,
            label: person.name
          }
        }));

        // We now know that we definitely want to paint the graph
        // (_paintEmptyGraph is not called hereafter), and we have
        // assembled the graph data. Therefore we store it in properties
        this.currentNodes = appearingPersons;
        this.currentEdges = edges;

        var data = {
          nodes: nodes,
          edges: edges
        };

        var container = this.$.canvas;
        this.graph = new vis.Network(container, data, this.GRAPH_OPTIONS);

        // set action listeners
        this.graph.on("selectNode", function () {
          COMPONENT._openPanel();
          COMPONENT._updatePanel(COMPONENT.graph.getSelection().nodes[0]);
        });
        this.graph.on("deselectNode", function () {
          COMPONENT._closePanel();
          COMPONENT._updatePanel(-1);
        });

        this.emptyGraph = false;
        this.loadingGraph = false;
      },

      _paintEmptyGraph: function () {
        this.emptyGraph = true;
        this.loadingGraph = false;
      },

      /* --------------------------------- */
      /*  UI functionality                 */
      /* --------------------------------- */
      _openPanel: function () {
        $(".panel").addClass("active");
        $(".tools").removeClass("active");
      },

      _closePanel: function () {
        $(".panel").removeClass("active");
        $(".tools").addClass("active");
      },

      _updatePanel: function (personId) {

        const COMPONENT = this;
        const DOM_NAME = $(".profile .name");
        const DOM_AVATAR = $(".profilePic");
        const DOM_RELATIONS = $(".panel .body");

        var selectedPerson = (this.persons) ? this.persons.get(personId) : null;

        if (personId < 0 || !selectedPerson) {

          // If an invalid personId was specified, close the info panel
          DOM_NAME.empty();
          DOM_AVATAR.css("background-image", "");
          DOM_RELATIONS.html("<p>Wähle eine Person aus, um Details anzuzeigen.</p>");

        } else {

          // Otherwise find all relations this person is involved in
          // and group them by their relationType
          var selectedPersonRelations = new Map();
          this.currentEdges.forEach(function (edge) {
            var peer;
            if (edge.from == personId) peer = edge.to;
            if (edge.to == personId) peer = edge.from;
            if (peer) {
              var existingRelationEntry = selectedPersonRelations.get(edge.relationType);
              var additionalPeer = COMPONENT.persons.get(peer).name;
              var peerList = (existingRelationEntry)
                ? existingRelationEntry.peerNames.concat(additionalPeer)
                : [additionalPeer];
              selectedPersonRelations.set(edge.relationType, {
                sentence: edge.sentence,
                color: edge.color,
                peerNames: peerList
              });
            }
          });

          // Update DOM
          DOM_NAME.text(selectedPerson.name);
          DOM_AVATAR.css("background-image", "url(" + selectedPerson.imgurl + ")");
          DOM_RELATIONS.empty();
          selectedPersonRelations.forEach(function (relation) {
            var relString = "..." + relation.sentence + " ";
            relation.peerNames.forEach(function (peerName, idx) {
              switch (idx) {
                case 0:
                  relString += "<strong>" + peerName + "</strong>";
                  break;
                case relation.peerNames.length - 1:
                  relString += " und <strong>" + peerName + "</strong>";
                  break;
                default:
                  relString += ", <strong>" + peerName + "</strong>";
              }
            });
            var relParagraph = $('<p class="relation"></p>').html(relString);
            relParagraph.css("color", relation.color);
            DOM_RELATIONS.append(relParagraph);
          });
        }
      },

      /* --------------------------------- */
      /*  Observers                        */
      /* --------------------------------- */
      _yearChanged: function (event) {
        var ripple = this.$.yearButton.getRipple();
        ripple.downAction();
        ripple.upAction();
        this._closePanel();
        this._updatePanel(-1);
        this.reloadGraph();
      }

    });

  </script>
</dom-module>
